@import 'tailwindcss';
@import 'tailwindcss/utilities';

.light {
  --primary-color: #8a42db;
  --secondary-color: #7dffaf;

  --hover-primary-color: #7530c0;
  --hover-secondary-color: #09de5c;

  --surface-background: #f5f7f8;
  --surface-primary: #9885cf;
  --surface-secondary: #a99edb;
  --surface-tertiary: #bfbae7;

  --shadow-custom: 0 1px 3px 0 var(--surface-tertiary);

  --text-primary: #525252;
  --text-secondary: #464646;
  --text-base: #f5f6f6;
  --font-primary: 'Noto Sans', sans-serif;
  --circle-stroke: #dcdcdc;
}

.dark {
  --primary-color: #8a42db;
  --secondary-color: #7dffaf;

  --hover-primary-color: #7530c0;
  --hover-secondary-color: #09de5c;

  --surface-background: #171023;
  --surface-primary: #2c243b;
  --surface-secondary: #413a4f;
  --surface-tertiary: #4e4563;

  --shadow-custom: 0 1px 3px 0 var(--surface-tertiary);

  --text-primary: #f5f6f6;
  --text-secondary: #cdd0d4;
  --text-base: #f5f6f6;
  --font-primary: 'Noto Sans', sans-serif;
  --circle-stroke: #ffffff1a;
}

@theme inline {
  --color-background: var(--surface-background);
  --color-text: var(--text-primary);
}

/* @media (prefers-color-scheme: dark) {
  .light {
    --surface-background: #f5f7f8;
    --text-primary: #f5f6f6;
  }
} */

body {
  background: var(--surface-background);
  color: var(--text-primary);
  font-family: 'Noto Sans', sans-serif;
}

@keyframes orbit {
  from {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  to {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

@layer utilities {
  .animate-orbit {
    animation: orbit calc(var(--duration) * 1s) linear infinite;
  }

  .animate-orbit-reverse {
    animation-direction: reverse !important;
  }
}
